*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#wrapper{
    height:100vh;
    overflow-y:auto ;
    overflow-x:hidden;
}


.container{
    height: 100%;
    width:1200px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    margin: 20px 0;
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;

}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.card{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;

}
.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 2px  2px 20px gray;
    /* object-fit: contain; */


}
.card :hover{
    transform: scale(1.5);
    /* transition: all 0.3s ease-in-out; */
    /* cursor:pointer; */
transition: 0.3s;
/* filter: drop-shadow(0 0 10px #333); */
box-shadow:0 0 10px #333;
}

.card:hover img{
    filter: grayscale(0%);
    /* transition: all 0.3s ease-in-out; */
    cursor:pointer;
}
.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 10%;
    font-size: 16px;
    font-weight: 500;
    color:white;
    opacity: 0;
    border-radius:0 0 10px 10px;
    background:linear-gradient(0deg, rgb(0,0,0,0.5)0%,rgb(255,255,255));
    transition: 0.3s;
    /* background: linear-gradient(#f69d3c, #3f87a6); */




}

.card:hover figcaption{
    opacity: 1;
    transition: 0.3s;
    transform:scale(1.03);
    cursor:pointer;
}

